{% extends 'empleado/menu_empleado/menu_empleado.html' %}
{% block head %} Registro | Codigo de evento {% endblock %}

{% block link %}
  
{% endblock %}

{% block menu %}
<div class="container">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a class="btn btn-success" href="{% url 'menu_evento' %}" ><h4 class="page-title">Regresar</h4></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Formulario de registro</h4>
        </div>
        {% if msg %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss = "alert" aria-label = "Close">
                    <span aria-hidden = "true">&times;</span>
                </button>
                <strong >Error de solicitud : </strong>{{ msg }}
            </div>
        {% endif %}           
                </div>
                <!-- /.row -->
                <!-- .row -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="white-box  bg-title">
                    <form class="form-horizontal form-material" action="{% url 'regcodevento'%}" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-2">ingrese un codigo</label>
                            <div class="col-md-10">
                                <input type="text" name="codevento" placeholder="Ingrese un codigo de evento"
                                                class="form-control form-control-line"> 
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-md-2">ingrese una descripción</label>
                            <div class="col-md-10">
                                <input type="text" name="desc" placeholder="Ingrese una descripcion"
                                                class="form-control form-control-line"> 
                            </div>
                        </div>                                                                     
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success"><h4>Guardar</h4></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="white-box  bg-title">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <h4>Codigos de evento registrados </h4>
                            <h5>Si hay un codigo previamente estipulado por la administracion que no aparece agreguela en el formulario arriba </h5>
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Codigos de eventos</th>
                                        <th>Descripcion del evento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if codevento %}
                                    {% for i in codevento%}
                                        <tr>
                                            <td>{{i.cod_evento}}</td>
                                            <td>{{i.descripcion_evento}}</td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                           <td>No hay regitros que mostrar</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            </div>
	    </div>
    </div>
</div>
{% endblock%}