{% extends 'empleado/menu_empleado/menu_empleado.html' %}
{% block head %} Editar | Horario {% endblock %}

{% block link %}
  
{% endblock %}

{% block menu %}
<div class="container">
    <div class="row bg-title">
        <div class="col-lg-2 ">
            <a class="btn btn-success" href="{% url 'listasignarhorarios' %}" ><h4 class="page-title">Regresar</h4></a>
        </div>
        <div class="col-xs-10 ">
            <h4 align="center" class="page-title">Formulario de registro de asignacion de horarios</h4>
        </div>         
                </div>
                <!-- /.row -->
                <!-- .row -->
        <div class="row bg-title">
            <div class="col-xl-12">
                <div class="white-box">
                    <form class="form-horizontal form-material" >
                                    
                                    <div class="form-group">
                                        <label class="col-md-2">Elija el horario a asignar</label>
                                        <div class="col-sm-10">
                                          <input  readonly="readonly" type="text" value="{{object.empleado}}" 
                                                class="form-control form-control-line">   
                                        </div>
                                    </div>   
                                    <div class="form-group">
                                        <label class="col-md-2">Elija al empleado que se le asignara</label>
                                        <div class="col-sm-10">
                                          <input readonly="readonly" type="text" value="{{object.horario}}" placeholder=""
                                                class="form-control form-control-line">   
                                        </div>
                                    </div>   
                                    <div class="form-group">
                                        <label class="col-md-2">Fecha de inicio</label>
                                        <div class="col-md-10">
                                            <input type="text" name="f1" value="{{object.fecha_inicio|date:"d M Y"}}"
                                                class="form-control form-control-line"required="required"> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">Fecha de finalizacion</label>
                                        <div class="col-md-10">
                                            <input type="text" id="appt" name="f2" value="{{object.fecha_fin|date:"d M Y"}}"
                                                class="form-control form-control-line"required="required"> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">Fecha de registro</label>
                                        <div class="col-md-10">
                                            <input type="text" id="appt" name="f2" value="{{object.fecha_registro|date:"d M Y"}}"
                                                class="form-control form-control-line"required="required"> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Usuario que realiza el registro</label>
                                        <div class="col-md-9">
                                            <input id="usu_reg" readonly="readonly" type="text" name="usu_reg" value="{{object.usuario_registro}}" 
                                                class="form-control form-control-line"> 
                                        </div>
                                    </div>                                                                                          
                                    <div class="form-group">
                                        <div class="col-xl-12">
                                            <a href="{% url 'asighorarioeditar' object.id %}" class="btn btn-success"><h5>Editar</h5></a>
                                        </div>
                                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}