{% extends 'bases/base.html' %}
{% block head %} Menu | Marcaciones {% endblock %}

{% block link %}
  
{% endblock %}


{% block body %}


<nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
                    href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
                        class="fa fa-bars"></i></a>
                <div class="top-left-part"><a class="logo" href="{% url 'menu' %}"><b><img
                                    {% load static %}
                                src="{% static 'plugins/images/logo.png'%}" alt="home" /></b><span
                            class="hidden-xs"><img src="{% static 'plugins/images/reface.png'%}" alt="home" /></span></a>
                </div>
                <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                    <li>
                        <form role="search" class="app-search hidden-xs" method="GET" action="{% url 'empleadodetalle'%}">
                            <label>Buscar empleado por numero de carnet :</label>
                            <input type="text" name="id" placeholder="Numero de carnet" class="form-control" required="required"><button class="btn btn-success " ><i
                                    class="fa fa-search"></i></button>
                                    
                        </form>
                        {% if msg %}
                              <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss = "alert" aria-label = "Close">
                                  <span aria-hidden = "true">&times;</span>
                                </button>
                                <strong >Atencion : </strong>{{ msg }}
                              </div>
               			{% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>                                            
                        <a class="profile-pic" href="#"> <b class="hidden-xs">{{user.get_username}}</b> </a>
                    </li>
                    <li>                                            
                        <a class="profile-pic" href="{% url 'logout' %}"> <b class="hidden-xs">Cerrar sesion</b> </a>
                    </li>
                </ul>
            </div>

            <!-- inicio de menu admin istracion de empleado -->
            {% block  menu%}
            <div class="row">
                        <!-- Listar empleado -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                            <h4 >Realizar una marcacion manual con numero de carnet de empleado</h4>
                                            <h5>Tenga en cuenta que para realizar una marcacion de salida posterior a la entrada del mismo empleado debera esperar almenos 5 minutos para realizarla</h5>    
                                    </div>
                                    <div class="col-sm-12 col-xs-12" >
                                            <form class="form-horizontal form-material" action="{% url 'marcacionmanualentrada'%}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="col-sm-2 col-xs-2">
                                                    <label >Carnet:</label>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6">
                                                        <input type="text" name="carnet" class="form-control form-control-line"required="required"> 
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4"align="right">
                                                        <button class="btn">
                                                            <img  {% load static %} src="{% static 'plugins/images/registrar.png'%}" alt="img" width="110" height="110" />
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                    </div>
                                     
                                </div>
                            </div>
                        </div>
                        <!-- Fin Listar empleado -->
                        <!-- Registrar empleado -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                        <h4 >Lista marcaciones del dia</h4>  
                                        <h5>Despliega una lista de marcaciones realizadas en el dia con los campos de minutos que seran blancos si son positivos y anaranjados si son negativos</h5>  
                                    </div>
                                    <div class="col-sm-12 col-xs-12" align="right">
                                        <a href="{% url 'listarmarcacion' %}">
                                            <img  {% load static %} src="{% static 'plugins/images/marca_dia.png'%}" alt="img" width="110" height="110" />
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin registrar empleado -->
                        <!-- Registrar Departamento 
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                        <h4 >Agregar una salida manual con numero de carnet de empleado</h4>    
                                    </div>
                                    <div class="col-sm-12 col-xs-12" >
                                        <form class="form-horizontal form-material" action="{% url 'asignarhorarios'%}" method="POST">
                                            <div class="form-group">
                                                
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="text" name="carnet" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                            
                                                <div class="col-sm-4 col-xs-4"align="right">
                                                    <button class="btn">
                                                                <img  {% load static %} src="{% static 'plugins/images/salida.png'%}" alt="img" width="110" height="110" />
                                                    </button>
                                                </div>
                                            </div>
                                    </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                         Fin registrar Departamento-->
                        <!-- Registrar Ocupacion -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                        <h4 >Justificar entradas tardias o salida temprana</h4>
                                        <h5>Justifica una entrada tardia o salida temprana se puede realizar aqui en el mismo comentario </h5>    
                                    </div>
                                    <div class="col-sm-12 col-xs-12" >
                                        <form class="form-horizontal form-material" action="{% url 'entradas_o_salidas_tempranas'%}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="date" name="fecha" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                            
                                                <div class="col-sm-4 col-xs-4" align="right">
                                                    <button class="btn">
                                                        <img  {% load static %} src="{% static 'plugins/images/tarde.png'%}" alt="img" width="110" height="110" />
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin registrar Ocupacion -->
                        
                        <!-- Registrar Ocupacion -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-8 col-xs-8"> 
                                        <h4 >Listado de ausencias del mes</h4>    
                                    </div>
                                    <div class="col-sm-12 col-xs-12" >
                                        <form class="form-horizontal form-material" action="{% url 'lista_ausencias'%}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="month" name="mes" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                            
                                                <div class="col-sm-4 col-xs-4" align="right">
                                                    <button class="btn">
                                                        <img  {% load static %} src="{% static 'plugins/images/ausencia.jpg'%}" alt="img" width="110" height="110" />
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin registrar Ocupacion -->
                        
                        <!-- Registrar Ocupacion -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                        <h4 >Descarga en Excel sumatoria de minutos entradas tarde y salidas tempranas</h4>    
                                    </div>
                                    
                                    <div class="col-sm-12 col-xs-12" >
                                        <form class="form-horizontal form-material" action="{% url 'sumaminutostarde'%}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="date" name="fecha1" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="date" name="fecha2" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                            
                                                <div class="col-sm-4 col-xs-4" align="right">
                                                    <button class="btn">DESCARGAR
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin registrar Ocupacion -->
                        <!-- Registrar Ocupacion -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                        <h4 >Descarga en excel rango de marcaciones</h4>    
                                    </div>
                                    
                                    <div class="col-sm-12 col-xs-12" >
                                        <form class="form-horizontal form-material" action="{% url 'descargaexcel'%}" method="GET">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="date" name="fecha1" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                                <div class="col-sm-8 col-xs-8">
                                                    <input type="date" name="fecha2" 
                                                        class="form-control form-control-line"required="required"> 
                                                </div>
                                            
                                                <div class="col-sm-4 col-xs-4" align="right">
                                                    <button class="btn">DESCARGAR
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- Fin registrar Ocupacion -->
                        <!-- Listar empleado -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="white-box">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12"> 
                                            <h4 >Registrar unidades de control</h4>
                                            <h5>Para registrar una unidad de control debe de tener lista la URL de la camara ip asignada esa unidad de control, de lo contrario debe obtener dicha URL y luego proceder con el registro</h5>    
                                    </div>
                                    <div class="col-sm-12 col-xs-12" align="right">
                                        <a href="{% url 'reg_camara_ip' %}">   
                                            <img  {% load static %} src="{% static 'plugins/images/registrar.png'%}" alt="img" width="110" height="110" />
                                        </a>          
                                    </div>
                                                                             
                                </div>
                            </div>
                        </div>
                        <!-- Fin Listar empleado -->
                        
            <!-- fin de menu administracion de empleado -->           
            </div>
        {% endblock%}
            {% endblock %}