{% extends 'empleado/menu_empleado/menu_empleado.html' %}
{% block head %} Justificar | Entrada tardia o salida temprana {% endblock %}

{% block link %}
  
{% endblock %}

{% block menu %}
<div class="container">
    <div class="row bg-title">
        <div class="col-xl-2 ">
            <a class="btn btn-success" href="{% url 'menu_marcaciones' %}" ><h4 class="page-title">Regresar</h4></a>
        </div>
        <div class="col-xl-10 ">
            <h4 align="center" class="page-title">Destalle de marcacion salida</h4>
        </div> 
        {% if msg %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss = "alert" aria-label = "Close">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                    <strong >Error: </strong>{{ msg }}
                </div>
        {% endif %}          
    </div>
                <!-- /.row -->
                <!-- .row -->
        <div class="row bg-title">
            <div class="col-xl-12">
                <div class="white-box">
                    <div class="form-group">
                        <h4 align="center" class="page-title">Importante: Al justificar una 
                            entrada tarde o salida temprana debera de seleccionar NO de lo 
                            contrario continuara apareciendo en los reporte de llegadas tardias
                            y salidas temprana, demas de estampar la justificacion conforme los lineamientos 
                            de la administracion
                        </h4>
                    </div>
                    <form class="form-horizontal form-material" method="POST" action="{% url 'actualizarmarcacion_salida'%}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-xs-1">Id registro</label>
                            <div class="col-xs-1">
                                <input  readonly="readonly" name="id" type="text" value="{{entrada.id}}" class="form-control form-control-line">   
                            </div>
                            <label class="col-md-2">Nombre del Empleado</label>
                            <div class="col-sm-8">
                                <input  readonly="readonly" type="text" value="{{entrada.empleado}}"class="form-control form-control-line">   
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Horario asignado</label>
                            <div class="col-md-2">
                                <input type="text" value="{{entrada.horario}}"class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            <label class="col-md-2">Detalle del turno o rango de hora</label>
                            <div class="col-md-2">
                                <input type="text" value="{{entrada.rango_horario}}" class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            <label class="col-md-2">Fecha de marcacion</label>
                            <div class="col-md-2">
                                <input type="text" id="appt" value="{{entrada.fecha_marcacion|date:"d M Y"}}" class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label class="col-md-2" >Hora de entrada</label>
                            <div class="col-md-2">
                                <input type="text" value="{{entrada.hora_entrada}}" class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            {% if entrada.entrada_tardia%}
                            <label class="col-md-2">Minutos marcados tarde</label>
                            <div class="col-md-2">
                                <input  class="bg-danger text-white" type="text"  value="- {{entrada.minutos_entrada_menos}}" required="required" readonly="readonly"> 
                            </div>        
                            <label class="col-md-2">Entrada tardia</label>
                            <div class="col-md-2">
                                <select name="etardia" class="form-control form-control-line" required="required">
                                    <option value="{{entrada.entrada_tardia}}" > SI</option>
                                    <option value="0" >NO</option>
                                </select> 
                            </div>
                            {% else %}
                            <label class="col-md-2">Minutos marcados entrada temprana</label>
                            <div class="col-md-2">
                                <input color="" type="text" value="+ {{entrada.minutos_entrada_mas}}" class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            <label class="col-md-2">Entrada tardia</label>
                            <div class="col-md-2">
                                <select name="etardia" class="form-control" required="required">
                                    <option value="{{entrada.entrada_tardia}}" > NO</option> 
                                </select>
                            </div>
                            {% endif%}
                        </div>
                        -->
                        <div class="form-group">
                            <label class="col-md-2">Hora de salida</label>
                            <div class="col-md-2">
                                <input type="text" value="{{entrada.hora_salida}}" class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            {% if entrada.salida_temprana%}
                            <label class="col-md-2">Minutos marcados salida temprana</label>
                            <div class="col-md-2">
                                <input type="text" value="- {{entrada.minutos_salida_menos}}"class="bg-danger text-white"required="required" readonly="readonly"> 
                            </div>
                            <label class="col-md-2">Salida temprana</label>
                            <div class="col-md-2">
                                <select name="stemprana" class="form-control form-control-line" required="required">
                                    <option value="{{entrada.salida_temprana}}" > SI</option>
                                    <option value="0" >NO</option>
                                </select> 
                            </div>
                            {% else %}
                            <label class="col-md-2">Minutos marcados salida a tiempo</label>
                            <div class="col-md-2">
                                <input color="" type="text"  value="+ {{entrada.minutos_entrada_mas}}" class="form-control form-control-line"required="required" readonly="readonly">
                            </div>
                            <label class="col-md-2 text-primary">Salida temprana</label>
                            <div class="col-md-2">
                                <select name="stemprana" class="form-control form-control-line" required="required">
                                    <option value="{{entrada.salida_temprana}}" > NO</option>
                                </select>  
                            </div>
                            {% endif%}
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Fecha de registro</label>
                            <div class="col-md-4">
                                <input type="text" name="fecha" value="{% now "Y-m-d" %}"class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                            <label class="col-md-2">Usuario que registra</label>
                            <div class="col-md-4">
                                <input type="text" name="usu" value="{{user.get_username}}"class="form-control form-control-line"required="required" readonly="readonly"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Justificacion</label>
                            <div class="col-md-10">
                                <textarea cols="50" rows="4" spellcheck="true" name="just" class="form-control form-control-line">{{event.justificacion}}</textarea>
                            </div>
                        </div>                                                                                         
                        <div class="form-group">
                            <div class="col-xl-12">
                                <div class="col-sm-12">
                                    <button class="btn btn-success"><i class="f fa-save" ></i><spam class="hide-menu">Guardar</spam></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}